body {
  background-color: lightgray;
}

.leftSummary,
.rightDetails,
.dailyForecast,
.hourlyForecast {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
}

.whereWhen {
  border: 1px solid black;
}

.resolvedAddress {
  font-weight: bold;
}

.localDatetime {
}

th,
td {
  text-align: left;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.dailyForecastCarousel,
.hourlyForecastCarousel {
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;
}

.dailyWidget,
.hourlyWidget {
  border: 1px solid darkblue;
  width: 100px;
}
